
/*---------------Fonts---------------*/

@font-face {
    font-family: 'guardian_expanded_iexpandedIt';
    src: url('../fonts/guardian2/guardian2expandital-webfont.woff2') format('woff2'), url('../fonts/guardian2/guardian2expandital-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'guardian_chromeregular';
    src: url('../fonts/guardian2/guardian2chrome-webfont.woff2') format('woff2'), 
        url('../fonts/guardian2/guardian2chrome-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('../fonts/vcr/vcr_osd_mono-webfont.woff2') format('woff2'), 
         url('../fonts/vcr/vcr_osd_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*---------------ID formating---------------*/


#titles {
    font-family: vcr_osd_monoregular;
    font-size: 50px;
}

#footerImg {
    position: fixed;
    bottom: -75px;
}

#signature {
    font-family: vcr_osd_monoregular;
}

#ALLCAPS {
    color: white;
    cursor: default;
}
